# Server Configuration
SERVER_PORT=8888

# Config Repository Path (local file system)
CONFIG_REPO_PATH=file:///Users/devanandpandey/Desktop/config-repo

# Eureka Service Discovery
EUREKA_URL=http://localhost:8761/eureka