# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/airline_location_db
DB_USERNAME=root
DB_PASSWORD=your_password

# Server Configuration
SERVER_PORT=5004

# Config Server
CONFIG_SERVER_URL=http://localhost:8888

# Eureka Service Discovery
EUREKA_URL=http://localhost:8761/eureka